* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Fuentes generales */
@font-face {
    font-family: "WebSymbolsRegular";
    src: url('/fonts/websymbols-regular-webfont.eot');
    src: url('/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/websymbols-regular-webfont.woff') format('woff'),
         url('/fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    background-image: url(/img/pattern.png);
    font-family: 'Bebas Neue';
    font-size: 62.5% ;
}


/* Inicio del Menu Superior */

.cabecera {
    width: 100%;
    background: black;
    
}

.cabecera_main {
    width: 1200px;
    display: flex;
    height: 70px;
    margin: 0 auto;
    font-family: 'Bebas Neue';
}

.cabecera_main p {
    font-size: 2.4rem;
    padding: 3px;
}

.cabecera_logo__box .gear {
    font-family: "WebSymbolsRegular";
    font-size: 1.8rem;
    padding: 7px;
    margin-left: 5px;
}

.cabecera_logo {
   color: #fff;
   width: 100%;
   
}

.cabecera_logo__box {
    display: flex;
    width: 200px;
    height: 50px;
    background-color: #37bcf9;
    margin: 10px;
}

.cabecera_logo__box span {
    margin-right: 10px;
    font-family: 'Webs';
}

.cabecera_logo__box p {
    letter-spacing: 1px;
    
}

.cabecera_menu {
    display: flex;
}

nav {
    width: 100%;
    
}

.cabecera_menu li {
    margin: 20px;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 1px;
}

.cabecera_menu li a {
    text-decoration: none;
    color: #fff;
    transition: all 200ms;
}

.cabecera_menu li a:hover {
    color: #378cf9;
    transform: scale(1.2, 1.2);
}

/* FIN DEL MENU SUPERIOR */

/* INICIO DEL BANNER */

.cabecera_banner_main {
    border: 1px solid rgb(204, 201, 201);
    width: 1200px;
    height: 120px;
    margin: 20px auto;
}

.cabecera_banner h1 {
    display: block;
    width: 850px;
    font-family: 'Bebas Neue';
    font-size: 3rem;
    letter-spacing: 2px;
    text-shadow: 2px 2px 1px black;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    line-height: 6.2rem; 
}

.cabecera_banner {
    height: 100%;
    background-image: url(/img/bakbaner.png);
    background-position: center;
    background-size: cover;
    border: 10px solid #fff;
    
}

/* FIN DEL BANNER */

/* INICIO DE PUBLICIDAD */

.main_principal {
    display: flex;
    margin: 70px auto;
    width: 1200px;
}

.main_principal_box {
    width: 205px;
    height: 305px;
    border: 1px solid rgb(133, 132, 132);
    background: white;
    margin: 15px;
    box-shadow: 0px 1px 5px rgb(201, 200, 200);

}

.main_principal_box span {
    display: block;
    font-family: 'WebSymbolsRegular';
    font-size: 2.6rem;
    text-align: center;
    padding: 35px;
}

.main_principal_box h2 {
    color: #005383;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;

}

.main_principal_box p {
    color: #005383;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: normal;
    text-transform: lowercase;
}

/* FIN DE PUBLICIDAD */

/* INICIO ARTICULOS */
.main_articulos {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.main_articulos_articulos {
    width: 70%;
    margin: 20px;
    height: 300px;
}

.main_articulos_aside {
    width: 30%;
    border: 1px solid red;
    margin: 20px;
    height: 300px;
}

/* FIN DE ARTICULOS */

/* INICIO DE ARTICULOS */

.main_articulos_title {
    width: 818px;
    height: 87px;
    border: 1px solid black;
    background-image: url(../img/pxgray.png);
    box-shadow: 3px 3px 1px black;
    margin-bottom: 40px;
}

.main_articulos_title h2 {
    text-align: center;
    font-size: 2.4rem;
    letter-spacing: 3px;
    line-height: 5.8rem;
}

.main_articulo_parrafo h3 {
    display: block;
    color: #005383;
    font-size: 1.5rem;
    padding: 10px;

}

.main_articulo_parrafo {
    width: 818px;
    height: 150px;
    border: 1px solid grey;
    margin-bottom: 40px;
    position: relative;
}

.main_articulo_parrafo p {
    padding: 0 10px;
    
}

.main_articulo_blog {
    width: 818px;
    height: 87px;
    border: 1px solid black;
    text-align: center;
    line-height: 5.2rem;
    font-size: 2.6rem;
    background-color: white;
    letter-spacing: 2px;
}

.main_articulo_blog a {
    text-decoration: none;
    color: #005383;
}

.main_articulo_parrafo .fecha {
    position: absolute;
    background-color: #393d3f;
    color: white;
    width: 220px;
    height: 36px;
    border-bottom-left-radius: 5px;
    top: -1px;
    right: 0px;
    text-align: center;
}

.main_articulos_aside .cajita {
    width: 305px;
    height: 44px;
    box-decoration-break: 1px solid black;
    box-shadow: 2px 2px 1px black;
    background-image: url(../img/pxgray.png);
    margin-bottom: 20px;

}

/* FIN DE ARTICULOS */